body {

}

header {
    background-color: darkblue;
}

input {
    border: 1px grey solid;
    border-radius: 5px;
}

button {
    border: none;
    border-radius: 5px;
}

#search {
    padding: 25px;
    border-bottom: 1px grey solid;
}

#city {

}

#forecast {

}
