body {

}

header {
    background-color: darkblue;
}

input {

}

button {
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

form {

}

form label {
    font-size: 30px;
    font-weight: bold;
}

form input {
    padding: 5px;
    border: 1px grey solid;
    border-radius: 5px;
}

form button {
    color: white;
    background-color: #5098e6;
}

#search-form {
    border-bottom: 1px grey solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#city {

}

#forecast {

}

.history-btn {
    background-color: lightgrey;
}